<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ObjectiveCBaseApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA8A597D1F3328C800F8E474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8A59961F3328C800F8E474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA8A59A11F3328C800F8E474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
